:root {
  --color-primary:    #409783;
  --color-secondary:  #19C096;
  --color-tertiary:   #EA6410;
  --color-light:      #EAE3D1;
  --color-dark:       #092E2C;
  --color-danger:     #E74C3C;
  --color-success:    #89ec8f;
  --color-info:       #e7b13c;
  //--color-text-light: #FAFBFE;
  --color-text-light: #FAFBFE;
  --color-text-dark:  #2A261B;
  
  --padding-x:        1rem;
  
  --border-width:     5px;
  
  --section-title-sticky-top:  65px;
}
