.alert {
  padding:          1rem;
  margin-bottom:    2rem;
  //border:           1px solid transparent;
  border-radius:    0.25rem;
  background-color: var(--color-light);
  color:            var(--color-text-dark);
  display:          flex;
  gap:              1rem;
  align-items:      center;
  
  .icon {
    --icon-size: 32px;
    color:       inherit;
  }
}

.alert-danger {
  border-left: var(--border-width) solid var(--color-danger);
  
  .icon {
    color: var(--color-danger);
  }
}
