@use "./mixins";

footer {
  background-color: var(--color-dark);
  padding-top:      10rem;
  padding-bottom:   10rem;
  color:            var(--color-text-light);
  
  a {
    display: inline-block;
    text-decoration: underline;
  }
  
  .container {
    @include mixins.media-breakpoint-down(md) {
      .flex-center {
        flex-direction: column;
        
        .vr {
          width:     100%;
          max-width: 200px;
          height:    1px;
          margin:    1rem 0;
        }
      }
    }
  }
  
  .logo {
    text-align: left;
    
    @include mixins.media-breakpoint-up(sm) {
     margin-top: -10px;
    }
  }
  
  .info {
    text-align:  left;
    line-height: 1.4;
    
    .icon {
      --icon-size: 30px;
    }
  }
  
  .col-title {
    display:       block;
    margin-bottom: 1rem;
  }
  
  .rights {
    text-align: inherit;
  }
  
  .columns-container {
    > :last-child {
      flex: 1;
    }
  }
  
  .social-links{
    display: flex;
    gap: 1rem;
  }
  
  @include mixins.media-breakpoint-down(md) {
    .info-container {
      flex-direction: column;
      row-gap:        2rem;
      
      .vr {
        display: none;
      }
    }
    
    .columns-container {
      > :first-child {
        flex: 1;
      }
      
      > :last-child {
        flex: 1;
      }
    }
  }
  
  @include mixins.media-breakpoint-down(sm) {
    
    .columns-container {
      flex-direction: column;
      text-align:     center !important;
      
      .vr {
        display: none;
      }
      
      .logo {
        margin-bottom: 3rem;
        text-align:    center !important;
      }
      
      .info {
        text-align: center !important;
      }
    }
    
    .social-links{
      justify-content: center;
    }
  }
}
