footer {
  background-color: var(--color-dark);
  padding-top:      5rem;
  padding-bottom:   5rem;
  color:            var(--color-text-light);
  min-height:       40vh;
  
  .container {
    text-align: center;
  }
  
  .social-links {
    display:     flex;
    align-items: center;
    gap:         1rem;

    a {
      display: inline-flex;
    }
    
    .icon {
      --icon-size: 30px;
      
    }
  }
}
