.form-group {
  --padding-x:         1rem;
  --padding-y:         1rem;
  --input-height:      60px;
  --color-placeholder: var(--color-text-dark);
  
  margin-bottom:       1.5rem;
  position:            relative;
  
  label {
    position:         absolute;
    color:            var(--color-placeholder);
    left:             calc(var(--padding-x) + var(--border-width));
    top:              calc(var(--border-width) + 1px);
    right:            calc(0px + (var(--padding-x) + var(--border-width)));
    background-color: transparent;
    text-align:       left;
    height:           100%;
    max-height:       calc(var(--input-height) - (var(--border-width) * 2));
    align-items:      center;
    pointer-events:   none;
    transform-origin: top left;
    display:          flex;
    opacity:          0;
    transition:       top .2s ease, font-size .2s ease, height .2s ease, background-color .3s ease, opacity .2s ease;
  }
}

.form-group-row {
  display: flex;
  gap:     1.5rem;
  
  & > * {
    flex: 1;
  }
}

.form-control {
  width:            100%;
  background-color: var(--color-light);
  padding:          var(--padding-y) var(--padding-x);
  border:           var(--border-width) solid transparent;
  outline:          none;
  font-family:      "Work Sans", sans-serif;
  font-size:        1rem;
  transition:       border-color .3s ease, border-radius .3s ease;
  resize:           vertical;
  
  &:focus {
    border-radius: 1rem;
    border-color:  var(--color-tertiary);
  }
  
  &:not(:placeholder-shown) {
    & ~ label {
      opacity:   .7;
      font-size: .8em;
      top:       var(--border-width);
      display:   flex;
      height:    1.2rem;
    }
    
    &:is(textarea) {
      & ~ label {
        background-color: var(--color-light);
      }
    }
  }
}
