@use "bootstrap/scss/vendor/rfs";
@import "../variables";
@import "bootstrap/scss/mixins/breakpoints";

.container {
  width:         100%;
  max-width:     992px;
  padding-left:  var(--padding-x);
  padding-right: var(--padding-x);
  margin:        0 auto;
  
  &.container-small {
    max-width: 768px;
  }
  
  &.container-x-small {
    max-width: 576px;
  }
  
  &.container-fluid {
    max-width: 100%;
  }
}

.vr {
  height:           2.5rem;
  width:            1px;
  background-color: var(--color-light);
  display:          inline-block;
  margin:           0 1rem;
  vertical-align:   middle;
  
  &.vr-large {
    height: 60px;
    width:  3px;
  }
  
  &.vr-fluid {
    height:     unset;
    min-height: 100%;
  }
  
  @include media-breakpoint-down(md) {
    &.vr-md-down-hr {
      width:     100%;
      max-width: 200px;
      height:    1px;
      margin:    1rem 0;
    }
  }
}

.icon {
  --icon-size:    18px;
  
  display:        inline-block;
  width:          var(--icon-size);
  height:         var(--icon-size);
  vertical-align: top;
  
  svg {
    width:  100%;
    height: 100%;
  }
}

.section-secondary {
  background-color: var(--color-secondary);
}

.section-fluid {
  min-height: unset;
}

.section-small {
  min-height: 50vh;
}

.section-title {
  margin-bottom: 5rem;
  color:         var(--color-light);
  position:      sticky;
  top:           var(--section-title-sticky-top);
  transition:    color .3s ease, opacity .3s ease;
  display:       inline-block;
  
  &.stick {
    position: sticky;
    top:      var(--section-title-sticky-top);
    z-index:  1031;
    color:    var(--color-text-dark);
  }
  
  &.ignore{
    position: relative;
    top:      0;
    z-index:  1;
  }
  
  @include media-breakpoint-down(lg) {
    //top: 55px;
  }
  
  @include media-breakpoint-down(md) {
    //position: relative;
    //top:      0;
    //z-index:  1;
  }
  
  .subtitle {
    @include rfs.rfs(24px, "font-size");
    font-weight: 400;
    display:     block;
    line-height: 35px;
  }
  
  .title {
    @include rfs.rfs(55px, "font-size");
    font-weight:    700;
    line-height:    1.2;
    text-transform: uppercase;
    display:        block;
  }
  
  &.sticked {
    color: var(--color-dark);
  }
}

.panel {
  padding: 1rem;
  
  &.panel-light {
    background-color: var(--color-light);
    color:            var(--color-text-dark);
  }
}

.img-flow {
  width:         150px;
  float:         left;
  display:       inline-block;
  margin-right:  1rem;
  margin-bottom: .5rem;
}

.img-thumbnail {
  width: 100px;
}

.toolbar {
  display:         flex;
  justify-content: center;
  align-items:     center;
  border-bottom:   1px solid var(--color-light);
  border-top:      1px solid var(--color-light);
  
  .toolbar-link {
    padding:    .5rem 1rem;
    transition: background-color .3s ease;
    
    &:hover {
      background-color: var(--color-light);
    }
  }
  
  .toolbar-static-text {
    padding: .5rem 1rem;
  }
}


.spacer {
  flex-grow: 1;
}

.list {
  list-style: none;
  padding:    0;
  margin:     0;
  
  & > * {
    display: block;
    
    &:not(:last-child) > a {
      border-bottom: 0;
    }
    
    & > a {
      padding:    1rem;
      border:     1px solid var(--color-light);
      display:    block;
      transition: background-color .3s ease, color .3s ease;
      
      &:hover {
        background-color: var(--color-light);
      }
    }
  }
  
}
