@use "../variables";
@use "bootstrap/scss/vendor/rfs";

*, *::before, *::after {
  box-sizing: border-box;
  padding:    0;
  margin:     0;
}

html {
  background:  var(--color-primary);
  //font-family: "Reem Kufi", sans-serif;
  font-family: "Work Sans";
  color:       var(--color-text-light);
  font-size:   16px;
}

a {
  text-decoration: none;
  color:           currentColor;
  transition:      color 0.2s ease;
  
  &:hover {
    color: var(--color-tertiary);
  }
}

main {
  section {
    padding:         5rem 0;
    min-height:      50vh;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
  }
}

fieldset {
  border: none;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  font-family: "Reem Kufi", sans-serif;
}

h1 {
  @include rfs.rfs(6rem, "font-size");
  font-weight: 700;
  line-height: 1.2;
  
  .small {
    @include rfs.rfs(3.5rem, "font-size");
    
  }
}

h3 {
  @include rfs.rfs(55px, "font-size");
  font-weight: 700;
  line-height: 1.2;
  
  .small {
    @include rfs.rfs(24px, "font-size");
    font-weight: normal;
  }
}

h4 {
  @include rfs.rfs(32px, "font-size");
  font-weight: 700;
}

.table-responsive {
  overflow-x: auto;
  overflow-y: hidden;
}

table {
  width:           100%;
  border-collapse: collapse;
  border-spacing:  0;
  margin:          1rem 0;
  text-align:      left;
  overflow:        auto;
  
  thead {
    border-top:    var(--color-text-dark) 1px solid;
    border-bottom: var(--color-text-dark) 1px solid;
    
    th {
      padding: 0.5rem;
    }
  }
  
  tbody {
    td {
      padding: 0.5rem;
      //word-break: break-word;
    }
  }
  
  .img-thumbnail {
    height: 60px;
    object-fit: cover;
  }
}
