@use "bootstrap/scss/vendor/rfs";

.experiences-slider {
  display: flex;
  align-items: end;
  justify-content: center;
  
  .timeline-container {
    --line-width:       4px;
    --container-height: 300px;
    --year-width:       200px;
    --year-dot-size:    20px;
    
    display:            flex;
    align-items:        end;
    overflow:           auto;
    padding-bottom:     2rem;
   
    //height:             var(--container-height);
    
    .timeline-entry {
      position:       relative;
      display:        flex;
      flex-direction: column;
      align-items:    center;
      flex-shrink:    0;
      height:         100%;
      
      &.empty {
        --year-width:    30px;
        --year-dot-size: 10px;
        
        .timeline-year{
          margin-bottom: 30px;
        }
        
        .timeline-year__text {
          display: none;
        }
      }
    }
    
    .timeline-year {
      width:       var(--year-width);
      text-align:  center;
      display:     inline-block;
      position:    relative;
      flex-shrink: 0;
      overflow: hidden;
      
      .timeline-year__dot {
        width:            var(--year-dot-size);
        height:           var(--year-dot-size);
        background-color: var(--color-text-light);
        border-radius:    50%;
        display:          inline-block;
        position:         relative;
        
        &:before, &:after {
          content:          "";
          width:            calc(var(--year-width) / 2);
          height:           var(--line-width);
          background-color: var(--color-light);
          display:          inline-block;
          position:         absolute;
          top:              calc(50% - (var(--line-width) / 2));
        }
        
        &:before {
          left:      0;
          transform: translateX(-100%);
        }
        
        &:after {
          right:     0;
          transform: translateX(100%);
        }
      }
      
      .timeline-year__text {
        color:       var(--color-dark);
        font-weight: bold;
        line-height: 25px;
        @include rfs.rfs(18px, "font-size");
      }
    }
    
    .timeline-event {
      flex-grow: 1;
      position:  relative;
      
      // Line under that connects to the timeline
      &:after {
        content:          "";
        width:            var(--line-width);
        height:           100%;
        background-color: var(--color-text-light);
        position:         absolute;
        top:              0;
        left:             50%;
        transform:        translateX(-50%) translateY(0%);
      }
      
      &.short {
        top: 20%;
        
        &:after {
          height: 80%;
        }
      }
      
      .timeline-event-card {
        @include rfs.rfs(8px, "--card-border-width");
        color:    var(--color-dark);
        position: relative;
        z-index:  51;
      }
      
    }
  }
  
}
